*{
box-sizing: border-box;
}

body
{
display: flex;
flex-direction: column;
margin:0;
width: 100%;
}

a
{
text-decoration: none;
}

#box select{
  border: none;
}

#box select option {
color:#000;
}

header
{
background: #898989 ;
display: flex;
align-items: center;
padding: 15px 0;
color:#fff;
}
header a{
  color:#000;
  margin-left:20px;
margin-right: 20px; 
}
header ul
{
list-style: none;
display:flex;
padding: 0;
margin: 0;
}
#logo
{
margin-top:0 ;
margin-right: auto;
margin-left: auto;
font-size: 30px;
color: #000;
}

#menu li
{
  padding: 5px
}

#designer li{
  padding:5px
}

#main{
  background-color: #e4e4e4;
  padding: 15px;
  display: flex;
height: 100%;
}

#main img{
  padding-top:20%;
  padding-left: 3%;
  padding-right: 2%;
}

font h1 {
text-align:center;
margin-top:50px;
margin-bottom:30px;
color: coral;
}

#main h3 {
margin:0 80px;
font-weight:600px;
}

#img img{
margin: 0 50px 50px 50px;
height:500px;
}

